footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5% ;
    background-color: black;
}
#logobb{
    width: 15vw;
}
#logo{
    display: flex;
    justify-content: space-around;
}
#social{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#social a{
    font-size: 30px;
    justify-content: space-between;
    text-align:center;
    color: #ffcc29;
}

#social a:hover{
    transform : scale(1.5);
    transition : 1s; 
}

#logotomate{
    width:10vw;
}

body{
    margin: 0;
    padding: 0;
}