#headernav{
    display: flex;
    justify-content: center;
}
#headernav ul{
display: flex;
/* padding: 25px; */
justify-content: space-around;
background-color:#ffcc29;
width: 80%;
font-family: 'Alfa Slab One', cursive;
}

a{
text-decoration: none;
color: black;
font-size: x-large;
}

#headernav a:hover{
    text-decoration: underline;
    transition: 1.5s;
}
#headerspacing{
    display: flex;
    justify-content: space-around;
}

#logout input{
    border-top-left-radius: 2em 0.5em;
    border-top-right-radius: 1em 3em; 
    border-bottom-right-radius: 4em 0.5em; 
    border-bottom-left-radius: 1em 3em;
    background-color: white;    
    font-family: 'Arimo', sans-serif;
}