body{
    background-color: #ffcc29;
}
h1{
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 5%;
    margin-top: 5%;
}

#BookingRules{
    font-family: 'Arimo', sans-serif;
}

label{
    font-family: 'Arimo', sans-serif;
}

#timeStart{

}

#timeEnd{

}

#description{

}

.BookingInput{
    align-items: center;
    margin-bottom: 5px;
    border: 2px solid black; 
    color : black; 
    border-top-left-radius: 2em 0.5em;
    border-top-right-radius: 1em 3em; 
    border-bottom-right-radius: 4em 0.5em; 
    border-bottom-left-radius: 1em 3em;
    background-color: white;
}

#bigbox{
    width: 20vw;
    align-items: center;
    margin-bottom: 5px;
    border: 2px solid black; 
    color : black; 
    border-top-left-radius: 2em 0.5em;
    border-top-right-radius: 1em 3em; 
    border-bottom-right-radius: 4em 0.5em; 
    border-bottom-left-radius: 1em 3em;
}